body{
    font-family: Arial, sans-serif;

}
p{
    size: 5px;
}

.login-section{
    margin-top: 30px;
}

.login-section .form-group .box{
    position: relative;
}


.login-section .form-group .box i{
    position: absolute;
    top: 10px;
    left: 15px;
    color: gray;
}

